
@font-face{
  font-family: Gotham;
  src: url('Gotham-Light_Web.52135bfa.woff2') format('woff2');
}

body {
  background-color: #1c1c1c;
  color:white;
  display:flex;
  flex-direction: row;
  font-family: Gotham;
}
div.nav {
  display:flex;
  width:20%;
  flex-direction: column;
  border-right:thin solid #3e3e3e;
  box-sizing: border-box;
}
div.nav .logo {
  display:flex;
  height:8vh;
  justify-content: center;
  align-items: center;
  border-bottom:thin solid #3e3e3e;
  box-sizing: border-box;
}
div.main {
  display: flex;
  flex-direction: column;
  width:80%;
}
div.banner {
  display:flex;
  height:8vh;
  background-color:rgb(38,38,38);
  justify-content: center;
  align-items: center;
  border-bottom:thin solid #3e3e3e;
  box-sizing: border-box;
}
.column {
  display: flex;
  flex-direction: column;
  width: 800px;
}