div.none {
    background:white;
}
div.partial {
    background:pink;
}
div.committed { 
    background: rgb(120, 199, 120);
}
div.locked { 
    background: rgb(10, 83, 10);
    color:white !important;
}

div.commit {
    width:310px;
    border:thin solid black;
    padding:10px;
    color:black;
    border-radius: 8px;
    border-color: rgb(129 129 129);
    border-style: solid;
    border-width: 1px;

}